<include file="Public:_meta"/>
<title>图片列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 查看用户  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

    <span id="remind"></span>

    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c" id="tr1">
                <th>序号</th>
                <th>部门</th>
                <th>用户真实姓名</th>
                <th>用户名</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="body">
            <volist name="data" id="vo">
            <tr class="text-c">
                <th>{$vo.id}</th>
                <th>{$vo.department}</th>
                <th>{$vo.usertruename}</th>
                <th>{$vo.username}</th>
                <th><a href="javascript:;" onclick="res('__CONTROLLER__/res','{$vo.id}')">重置密码</a></th>
            </tr>
            </volist>


            </tbody>
        </table>
    </div>
</div>

<!--_footer 作为公共模版分离出去-->
<include file="Public:_footer"/> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
function  res(url,id) {
    layer.confirm("确定为该用户重置密码吗",function () {
        $.ajax({
            type:'POST',
            url:url,
            dataType:'json',
            data:{id:id},
            success:function (data) {
                if (data){
                    layer.msg('已重置', {icon: 6, time: 1000});
                }else{
                    layer.msg('重置失败', {icon: 5, time: 1000});
                }

            }

        
            
        })
        
    });
}



</script>
</body>
</html>