<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    body{
      text-align: center;
    }

      #d1{
          margin-top: 80px;
          font-size: 80px;
          color: gainsboro;
          letter-spacing: 30px;
      }
      #d2{
          color: lightsteelblue;
          font-size: 40px;
          margin-top: 30px;
      }
  </style>
</head>
<body>
<form action="{:U('pc')}" method="post">
  <div class="reg_div">
    <div id="d1">考试批次</div>

      <div id="d2"><span>&nbsp;设定考试批次：</span><br>
          <input type="text" value="{$pc.pici}" name="pici" style="height: 40px;font-size: 40px;text-align: center;color: lightsteelblue" ></div>


  </div>
    <input type="submit" style="height: 40px;width: 150px;margin-top: 20px" value="提交">
</form>
 <include file="Public:_footer"/>
 

</body>
</html>

